All css-edits are placed here within comments. Remember to use page-specific classes. Use same standard as the example below.

/*Global CSS*/
body {
padding-top: 20px;
}

.card-img-top {
max-height: 250px;
}

/*martinmolnar.html*/
#molles-id {
font-weight: bold;
}


/*martinmolnar.html end*/

